* {
    padding: 0;
    margin:0;
}
body {
    background-color: #000000;
}

.headerbox {
    width:960px;
    margin:0 auto;
}

ul {
    margin-left:16%;
}

li {
    display: inline;
    font-size: 2em;
    line-height: 6em;
    margin-right:2%;
}
a {
    text-decoration: none;
    color:#B09B93;
    transition: color linear 1s;
}

.baxter {
    float:left;
}

.right {
    margin-left:2%;
}

ul ul {
    display:none;
    margin-top: -110px;
    height: 20px;

}
    ul li:hover > ul {
        display:block;
    }
ul ul li {
    color:#B09B93;
    font-size:.5em;
    height: 40px;
    padding: 0 0 0 0;
    clear:both;
    z-index: 1;
}
a:hover {
    color:#88AACD;
}

.floatleft {
    float:left;
}
iframe {
    width:100%;
    margin:0;
}
.imagelink {
    width:20%;
    margin-top:2%;
    display:inline-block;
}
figure img {
    width:100%;
    border: solid 4px #88AACD;
    border-radius: 10px;
    height:200px;
}

figure figcaption {
    text-align: center;
    color: #B09B93;
    font-size: 2em;
}
.marginleft {
    margin-left:14%;
}
.imageleft {
    margin-left:5.5%;
}
.contact {

}

.cta {
    background-color: #88AACD;
    width:15%;
    color: #000000;
    border:solid 2px #B09B93;
    border-radius: 20px;
    padding: 1%;
    font-family: 'Jolly Lodger', cursive;
    font-size: 2em;
    margin: 2% auto;
}

.formbox {
    width:960px;
    margin: 0 auto;
    color: #88AACD;
    padding:3%;
    padding-left:15%;
    margin-bottom:10%;
}

.formbox2 {
    width:25%;
    margin-left:10%;
    margin-top:2%;
    float:left;
}
input {
    float:right;
}
label {
    float: left;
}
.cta a {
    color:black;
}
.cta a:hover {
    color:orange;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .headerbox {
        width: 100%;
        margin-right:10%;
    }
    ul li:hover > ul {
        display:none;
    }
    .cta {
        width:50%;
        text-align: center;
    }

}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .headerbox {
        width: 100%;
        margin-right:0;
    }
    li {
        font-size: 1.5em;
    }
    ul {
        margin-left:16%;
    }
    ul li:hover > ul {
        display:none;
    }
    .cta {
        width:50%;
    }

    .formbox {
        width:100%;
        margin-bottom:50%;
        margin-right:5%;
        padding: 0;
        margin-left:0;
    }

    .formbox2 {
        width:40%;
        margin-left:5%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .headerbox {
        width: 100%;
    }

    .imagelink {
        width:100%;
    }
    .marginleft {
        margin: 0;
    }
   .imageleft {
       margin:0;
   }
   li {
       font-size: 1.5em;
   }
   .baxter {
       z-index: -1;
       position: absolute;
       top:1%;
       left:2%;
       opacity:.3;
   }
   .contact {
       float:left;
   }
    ul li:hover > ul {
        display:none;
    }
    .cta {
        width:50%;

    }

    .formbox {
        width:100%;
        margin-bottom:50%;
        margin-right:0;
        padding: 0;
    }
    .formbox2 {
        width:60%;
    }
}