* {
    padding: 0;
    margin:0;
}
body {
    background-color: #000000;
}

.headerbox {
    width:960px;
    margin:0 auto;
}

li {
    display: inline;
    font-size: 2em;
    line-height: 6em;
    float: left;
    margin-right:2%;
}
a {
    text-decoration: none;
    color:#B09B93;
}

.baxter {
    float:left;
}

.right {
    margin-left:2%;
}

ul ul {
    display:none;
    margin-top: -110px;

}
    ul li:hover > ul {
        display:block;
    }
ul ul li {
    color:#B09B93;
    font-size:.5em;
    height: 40px;
    padding: 0 0 0 0;
    clear:both;
    z-index: 1;
}
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .headerbox {
        width: 100%;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .headerbox {
        width: 100%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .headerbox {
        width: 100%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .headerbox {
        width: 100%;
    }

}