/* Danny O'Carroll
   1863459 */
* {
    margin:0;
    padding:0;
}

h1 {
    color: #080808;
    padding:10px;
}

.wrapper {
    width:960px;
    margin: 0 auto;
    border: solid 2px #080808;
    border-radius: 0px 0px 20px 20px;
}

body {
    background-image: url('../images/stardust.png');
}

.header {
    width:98%;
    background-color: #080808;
    color: #a6e1ec;
    height:60px;
    line-height: 60px;
    font-size: 3em;
}

.nav {
    width:100%;
    background-color: #0099cc;
    background-color:#a6e1ec;
    font-size: 1.5em;
    height: 30px;
    line-height: 30px;
}

.nav ul li {
    list-style: none;
    display:inline;
    margin:10px;

}

.content {
    background-color: #0099cc;
    border-radius: 0 0 20px 20px;
}

.content p {
    color: #a6e1ec;
    padding:10px;
}

a {
    text-decoration: none;
    color:#080808;
}
a:hover {
    color:#0099cc;
}

.imggal {
    height: 100px;
    width:20%;
    border: solid 5px #a6e1ec;
    margin:1%;
    position:relative;
    left:2%;
    z-index: 1;

}

.spaceship {
    position: fixed;
    right: 2%;
    top: 1px;
    width:25%;


}





/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper {
        width: 100%;
    }
    .imggal{
        width:40%;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }
    .imggal {
        width:40%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }
    .imggal{
        width:40%;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .wrapper {
        width: 100%;
    }
    .header {
        width:95%;
        font-size: 2.2em;
    }
    .nav {
        font-size: 1.3em;
    }

    .imggal{
        width:95%;
    }

}